/* REUSABLE COMPONENTS */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

.margin-right-big {
  margin-right: 15rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.align-center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.btn-white:link,
.btn-white:visited {
  display: inline-block;
  background-color: #fff;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-white:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-white:active {
  transform: scale(0.95);
}

/* SECTION HEADER */
@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Marcellus&family=Roboto+Condensed&display=swap");

.header {
  height: 100vh;
  position: relative;
  margin: 0 auto;
  /* margin-bottom: 9.6rem; */
  font-family: "Cormorant Garamond";
  background-color: rgb(77, 182, 96, 0.22);
}

/* MENU BUTTON/ICON */

.menu-checkbox {
  display: none;
}

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 300;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;

  transition: all 0.5s;
}

.menu-background {
  /* height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#4db660, #0f2413);
  z-index: 200;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); */

  opacity: 0;
  height: 100vh;
  width: 18%;
  background-image: radial-gradient(#4db660, #0f2413);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-open {
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;

  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-list {
  position: absolute;
  top: 30%;
  left: 91%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.menu-item {
  margin: 1rem;
}

.menu-link:link,
.menu-link:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.4s;
}

.menu-link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.menu-checkbox:checked ~ .menu-background {
  /* transform: scale(80); */
  opacity: 1;
}

.menu-checkbox:checked ~ .navigation-button {
  transform: translate(5rem, -5rem) scale(0.7);
}

.menu-checkbox:checked ~ .menu-open {
  opacity: 1;
  width: 100%;
}

.navigation-icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #2e6d3a;
  display: inline-block;
}

.navigation-icon::before,
.navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation-icon::before {
  top: -0.8rem;
}

.navigation-icon::after {
  top: 0.8rem;
}

.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}

.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}

.menu-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}

.menu-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.menu-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* MENU OPEN */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.55;
  overflow: hidden;
}

.video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-text-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  font-size: 7.8rem;
  letter-spacing: 10px;
  word-spacing: 12px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 3.6rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 5.3rem;
  font-weight: 500;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

/* SECTION OM MEG */

.section-om-meg {
  /* margin-bottom: 9.6rem; */
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(39, 91, 48, 0.849),
    rgba(72, 170, 90, 0.836)
  );
  /* background-color: rgba(72, 170, 90, 0.836); */
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.bg-white {
  background-color: #edf8ef;
  padding: 4rem;
  border-radius: 11px;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.15);
}

.text-box {
  width: 85%;
}

.om-meg-heading {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.om-meg-description {
  font-size: 1.8rem;
  color: #333;
  line-height: 1.5;
}

.om-meg-img {
  width: 100%;
}

/* SECTION PRISER */

.priser {
  position: relative;
  margin-bottom: 9.6rem;
  padding-top: 25rem;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card-side {
  background-color: orangered;
  color: #fff;
  font-size: 2rem;
  height: 52rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card-side-front {
  background-color: #fff;
}

.card-side-back {
  transform: rotateY(180deg);
}

.card-side-back-1 {
  background-image: linear-gradient(to right bottom, #4db660, #0f2413);
}

.card-side-back-2 {
  background-image: linear-gradient(to right bottom, #82cc90, #4db660);
}

.card-side-back-3 {
  background-image: linear-gradient(to right bottom, #0f2413, #2e6d3a);
}

.card:hover .card-side-front {
  transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  transform: rotateY(0);
}

.card-picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-1 {
  background-image: linear-gradient(to right bottom, #4db660, #0f2413),
    url(../../assets/d.png);
}

.card-picture-2 {
  background-image: linear-gradient(to right bottom, #4db660, #0f2413),
    url(../../assets/d.png);
}

.card-picture-3 {
  background-image: linear-gradient(to right bottom, #4db660, #0f2413),
    url(../../assets/d.png);
}

.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}

.card-heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card-heading-span-1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(#4db660, 0.85),
    rgba(#0f2413, 0.85)
  );
}

.card-heading-span-2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(#4db660, 0.85),
    rgba(#0f2413, 0.85)
  );
}

.card-heading-span-3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(#4db660, 0.85),
    rgba(#0f2413, 0.85)
  );
}

.card-details {
  padding: 3rem;
}

.details-list {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.details-item {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #333;
}

.details-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}

.card-price-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.card-price-value {
  font-size: 4.2rem;
  font-weight: 300;
}

/* SHAPE DEVIDER */
.custom-shape-divider-top-1668869023 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1668869023 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 155px;
}

.custom-shape-divider-top-1668869023 .shape-fill {
  fill: #4db660d1;
}
