.nav-items {
  display: inline-block;
}

.nav-links {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 3rem;
  transition: all 0.2s;
  cursor: pointer;
}

.nav-links:hover {
  color: #367f43;
}
