.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem 4rem;
}

.logo-box {
  height: 13rem;
}

@media screen and (max-width: 56.25em) {
  .logo-box {
    height: 8rem;
  }
}

.logo {
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style: none;
}

@media screen and (max-width: 56.25em) {
  .nav-list {
    gap: 4rem;
  }
}

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #378345;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  padding: 2rem 3rem;

  border-radius: 3px;
  transition: all 0.3s;
}

@media screen and (max-width: 56.25em) {
  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
  }
}

.btn:hover,
.btn:active {
  background-color: #1f4926;
}
