.nav {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
}

.nav-items-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: calc(95% - 10rem);
  align-items: center;
}

.logo-box {
  height: 10rem;
  justify-self: flex-start;
}

@media screen and (max-width: 70.25em) {
  .logo-box {
    height: 8rem;
    border: solid red;
  }
}

@media screen and (max-width: 60.25em) {
  .logo-box {
    height: 8rem;
    border: solid blue;
  }
}

@media screen and (max-width: 50.25em) {
  .logo-box {
    height: 8rem;
    border: solid yellow;
  }
}

@media screen and (max-width: 40.25em) {
  .logo-box {
    height: 8rem;
    border: solid black;
  }
}

@media screen and (max-width: 30.25em) {
  .logo-box {
    height: 8rem;
    border: solid white;
  }
}

@media screen and (max-width: 20.25em) {
  .logo-box {
    height: 8rem;
    border: solid pink;
  }
}

@media screen and (max-width: 10.25em) {
  .logo-box {
    height: 8rem;
    border: solid purple;
  }
}

@media screen and (max-width: 37.55em) {
  .logo-box {
    height: 5rem;
  }
}

@media screen and (max-width: 18.75em) {
  .logo-box {
    display: none;
  }
}

.logo {
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style: none;
}

@media screen and (max-width: 56.25em) {
  .nav-list {
    gap: 4rem;
  }
}

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #378345;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  padding: 2rem 3rem;

  border-radius: 3px;
  transition: all 0.3s;
}

@media screen and (max-width: 56.25em) {
  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
  }
}

.btn:hover,
.btn:active {
  background-color: #1f4926;
}
