* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: serif;
  box-sizing: border-box;
  color: #333;
  background-color: #edf8ef;
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (min-width: 130em) {
  html {
    font-size: 75%;
  }
}

/* @media screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
} */

@media screen and (max-width: 30em) {
  html {
    font-size: 30%;
  }
}
