* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: serif;
  box-sizing: border-box;
  color: #333;
  background-color: #edf8ef;
}

/* MEDIA QUIERIES */

/* 0 - 600px: Phone
  600 - 900px: Tablet Portrait
  900 - 1200px: Tablet Landscape
  1200 - 1800px: Where normal styles apply
  1800px +: Big Desktop */

/* --bp-phone: 37.5em;
  --bp-tab-port: 56.25em;
  --bp-tab-land: 75em;
  --bp-big-desk: 112.5em; */

@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (min-width: 130em) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
